GOOGLE_CLIENT_EMAIL=website-data-uploader@elegant-pipe-482117-h4.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPaste Your Full Downloaded Private Key Here\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1JMre1Y8VHci1g9xIUsonGs3An-O5LHsAjGSmqJOKx7Y

# Cloudinary Setup for File Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret